*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container{
   background-image: url(WhatsApp\ Image\ 2024-03-05\ at\ 16.05.55_a7b7619d.jpg);
   background-size: cover;
   height: 145vh;
  nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    
    
    li{
        list-style: none;
    }
   li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 30px;
       position: relative;
       top: 30px;
    }
    a:hover{
        background-color: rgb(99, 98, 98);
        width: 10px;
        height: 10px;
        border-radius: 50px;
    }
    img{
        width: 150px;
        height: 100px;
    }
  }
  .section-1{
    display: flex;
    justify-content: space-evenly;
    padding: 130px;
    justify-content: center;
    text-align: center;
    gap: 30px;
    h4{
        color: rgb(84, 235, 84);
    }
    h1{
        color: white;
        font-size: 25px;
    }
    button{
        background-color: rgb(63, 175, 63);
        border: none;
        width: 330px;
        height: 40px;
       border-radius: 6px;
       font-weight: 600;
    }
    .sec-1{
        
    }
  }
  p{
    text-align: center;
     position: relative;
     bottom: 100px;
     a{
        color: white;
     }
  }
  h3{
    text-align: center;
     position: relative;
     bottom: 60px;
     a{
        color: white;
     }
     a:hover{
        color: green;
     }
  }
  h4{
    text-align: center;
     position: relative;
     bottom: 25px;
     color: white;
  }
  h5{
    text-align: center;
    position: relative;
    top: 20px;
    
    img{
       
        height: 50px;
        width: 50px;
        border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;
      
      }
  }
}
.container-1{
    height: 35vh;
    background-image:linear-gradient(rgb(72, 162, 72), black);
  text-align: center;
  padding: 30px;
  color: white;
  button{
    background-color: transparent;
    border: 2px solid white;
    width: 250px;
    height: 50px;
   border-radius: 6px;
   font-weight: 600;
   color: white;
}
button:hover{
        background-color: rgb(224, 224, 223);
        color: black;
}
}
.container-2{
       background-color: black;
       color: white;
       padding: 50px;
      text-align: center;

   img{
    width: 400px;
    height: 500px;
    border-radius: 6px;
   }
   img:hover{
    border: 2px solid white;
    transform: scale(1.1);
   }
   h4{
    color: chartreuse;
   }
   h1{
    font-size: 40px;
   }
   p{
    font-size: 20px;
   }
   p span{
    font-size: 10px;
    margin-left: 500px;
   }
   .section-2{
    h1{
        font-size: 50px;
    }
    button{
        background-color: rgb(63, 175, 63);
        border: none;
        width: 230px;
        height: 50px;
       border-radius: 6px;
       font-weight: 600;
    }
    button:hover{
        background-color: green;
    }
   }
   span{
      font-size: 10px;
      text-align: center;
   }
   h3 a{
    color: white;
   }
}
.container-3{
    background-image: url(original.jpeg);
    background-size: cover;
    height: 125vh;
    color: white;
   
    nav li {
        display: inline-block;
        list-style: none;
        color: white;
        position: relative;
        top: 200px;
        margin-left: 100px;
        font-weight: 900;
      
        a{
            text-decoration: none;
            font-weight: 500;
            color: white;
        }
        a:hover{
            text-decoration: underline rgb(0, 0, 0);
        }
        
    }
    h1{
        font-size: 50px;
        
    }
    h1 ,p{
        position: relative;
        top: 200px;
        margin-left: 100px;
        }
     p{
        font-size: 20px;
     }
     img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: relative;
        top: 200px;
        margin-left: 100px;
        background-color: white;
     }
     span{
        font-size: 10px;
        position: relative;
        top: 210px;
        margin-left: 100px;
     }
}
.container-4{
    height: 380vh;
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    h1 , p , li , hr{
      position: relative;
      top: 100px;
    }
    h1{
        font-size: 40px;
    }
  
  nav li{
        display: inline-block;
       list-style: none;
      a{
       color: rgb(172, 92, 92);
       font-size: 20px;
       /* background-color: rgb(52, 51, 51); */
       border-radius: 20px;
       }
       a:hover{
        text-decoration: line-through white;
        cursor: pointer;
       }
    }
    hr{
        /* width: 1000px; */
        /* margin-left: 150px; */
        /* position: relative;
        top: -130px; */
    }
    h3{
        position: relative;
        top: 200px;
        color: black;
        background-color: rgb(54, 151, 54);
       border-radius: 30px;
        width: 200px;
        font-size: 18px;
        margin-left: 550px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .month{
        display: flex;
        position: relative;
        top: 200px;
        justify-content: space-around;
        button{
            background-color: rgb(222, 228, 222);
            color: black;
            border: none;
            width: 280px;
            height: 50px;
           border-radius: 6px;
           font-weight: 600;
        }
        button:hover{
            background-color: rgb(60, 62, 60);
        }
        h5{
            position: relative;
            top: 40px;
        }
    }
    .table{
        width: 100%;
        position: relative;
        top: 250px;
        right: 100px;
       padding-right: 150px;
        table, th, td{
           width: 100%;
            border: 0px solid black;
            border-collapse: collapse;
            padding: 20px;
        }
      span{
        font-size: 10px;
        padding-right: 100px;
 }
    }
    .table-1{
       h1 , p{
        position: relative;
        top: 300px;
        margin-right: 600px;
       }
       table{
        width: 100%;
        position: relative;
        top: 280px;
        right: 350px;
        table, th, td{
           width: 100%;
            border: 0px solid black;
            border-collapse: collapse;
            padding: 20px;
        }
       }
    }
}
footer{
    height: 110vh;
    background-color: beige;
    .foot{
        display: flex;
        padding: 50px;
        gap: 40px;
        justify-content: space-between;
        position: relative;
        top: 50px;
        a{
            text-decoration: none;
            color: black;
        }
        
    }
    hr{
        width: 1000px;
        margin-left: 100px;
        position: relative;
        top: 50px;
    }
    .icon{
        position: relative;
        top: 100px;
        margin-left: 90px;
       
    }
    p{
        position: relative;
        top: 100px;
        padding: 80px; 
    }
}